<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to House Of Cards</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/goofspielDesign.css" type="text/css" />
    <link rel="stylesheet" href="/styles/cardlist.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/goofspiel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script type='text/javascript'>

    var socket = io.connect('http://localhost:8080/');
    var playerNum = Number(/userId=(\d+)/.exec(document.cookie)[1]);
    function cardPlay(index) {
      console.log("cardplay.  emitting to server.");
      socket.emit('cardplay', JSON.stringify({
        index: index,
        cookies: document.cookie
      }));
    }

    socket.on('update state', function(data) {
      var state = JSON.parse(data);
      console.log("server says new state is", state);



      if (playerNum === 1 ) {
        renderCardFaces(state.p1Hand);

      } else  {
        renderCardFaces(state.p2Hand);
    }

    });

    function updateState(data) {
      // update ui based on data object
      //$().appendChild();
      console.log(data);
    }

    function renderCardFaces(myHand){
      var frontClasses = ['ace', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'jack', 'queen', 'king'];
      for (let i = 0; i < 13; i++) {
        var cardId = '#mine' + i;
        var card = $(cardId);
        function sendThisCard() {
          cardPlay(i);
        }
        card.off('click');    // NOTE: if we ever need a second click handler on this, this line might be bad news
        if (myHand[i]) {
          card.removeClass('back');
          card.addClass('hearts clickable ' + frontClasses[i]);
          card.on('click', sendThisCard);
        } else {
          card.addClass('back');
          card.removeClass('hearts clickable ' + frontClasses[i]);
        }
      }
    }

    </script>
  </head>

  <body>
    <nav id="navbar">
        <img class="logo" src="/images/cards.png" alt="Cards" >
        <section class="title">House Of Cards</section>
    </nav>
    <button class ="reset">Clear Array</button>
    <main>
      <div class="enemyCards">
        <% for (var i = 0; i < 13; i++) { %>
          <div class="card back"> </div>
        <% } %>
      </div>
      <div class="stackCards">
        <div class="card stack"></div>
      </div>
      <div class="userCards">
        <% for (var i = 0; i < 13; i++) { %>
          <div id="mine<%= i %>" class="card back"> </div>
        <% } %>
      </div>


      <script> renderCardFaces([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]); </script>
    </main>
  </body>
</html>

