<!DOCTYPE html>
<html lang="en">
 <head>
   <title>Welcome to House Of Cards</title>

   <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
   <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
   <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
   <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
   <link rel="stylesheet" href="/styles/leftAndright.css" type="text/css" />
   <link rel="stylesheet" href="/styles/fontstyle.css" type="text/css" />

   <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
   <script type="text/javascript" src="/scripts/app.js"></script>
   <script type="text/javascript" src="/scripts/index.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

 </head>

 <body>
    <nav id="navbar">
      <img class="logo" src="/images/cleartansuits.jpg" alt="Cards" >
      <section class="title">
        <div class="hh">H</div>
        <div class="o1">o</div>
        <div class="u1">u</div>
        <div class="s1">s</div>
        <div class="e1">e </div>
        <div class="o2">O</div>
        <div class="f1">f </div>
        <div class="c1">C</div>
        <div class="a1">a</div>
        <div class="r1">r</div>
        <div class="d1">d</div>
        <div class="s2">s</div>
      </section>
    </nav>

  <main>

     <p class="midground">
       <span class="playing-card" onclick="playCard(0)">
        <span class="card-front" data-suit-idx="0" data-rank-idx="0"></span>
        <span class="card-back"></span>
       </span>
       <span class="playing-card" onclick="playCard(1)" style='perspective:300px;'>
         <span class="card-front" data-suit-idx="1" data-rank-idx="0"></span>
         <span class="card-back" ></span>
       </span>
       <span class="playing-card" onclick="playCard(2)" style='perspective: 300px;'>
         <span class="card-front" data-suit-idx="2" data-rank-idx="0"></span>
         <span class="card-back"></span>
       </span>


       <span class="playing-card" onclick="playCard(3)" style='perspective: 1000px;'>
         <span class="card-front" data-suit-idx="3" data-rank-idx="0"></span>
         <span class="card-back"></span>
      </span>
    </p>

     <div class="user">
     <section class = "userButtonRow1 login">
       <form method="POST" action="/login">
         <input type="hidden" value="1" name="userId">
         <button id="btn-user-1" type="submit" class="btn-btn-primary">USER 1</button>
       </form>
     </section>
     <section class = "userButtonRow2 login">
       <form method="POST" action="/login">
         <input type="hidden" value="2" name="userId">
         <button id="btn-user-2" type="submit" class="btn-btn-primary">USER 2</button>
       </form>
     </section>
     </div>

     <div class ="left">
       <section class="userInformationHead">
         This is where User Name goes
       </section>
       <section class="userInformationBody">
       </section>

       <section class="whosOnlineHead">
       User Information
       </section>
       <section class ="whosOnlineBody">
       </section>
     </div>

     <div class="right">
       <section id = "Game1">
         <button type="button" class="Game1">WAR!</button>
       </section>
       <section id = "Game2">
         <button type="button" class="Game2">Goofspiel</button>
       </section>
            </div>

   </main>
   <p class="cornerMessage"> Presented by M.S.R Group INC. <p>
 </body>
</html>
