

.scoreboard {
  float: right;
  border : 30px dotted;
  height: 120px;
  width: 250px;
}

.turnButton {
  float: left;
  border: 15px dotted;
  height: 80px;
  width: 120px;
  margin-right: 100%;
}

.btn-default {
  float:right;
}
