body {
  background-size: 100% 1200px;
}
.left {
 width: 570px;
 height: 355px;
 background-color: #e1dddd;
 float: left;
 visibility: hidden;
}

.left .userInformation {
 margin-top: 80px;
 padding-bottom: 80px;
}

.left .whosOnline {
 margin-top: 80px;
 margin-bottom: 70px;
}

.right {
 width: 570px;
 height: 355px;
 background-color: #e1dddd;
 float: right;
 visibility: hidden;
}

.right .Game1 {
  width: 200px;
  height: 50px;
  border-radius: 2em;
  font: 2em Budmo;
  border-bottom: 2px solid darken(gold, 10%);
  margin:2em;
}

.right .Game1:hover {
  background: lighten(#15706f, 5%);
  border-bottom: 5px solid darken(#15706f, 5%);
}

.right .Game1 :active { border: none; }

.right .Game2 {
  width: 200px;
  height: 50px;
  border-radius: 2em;
  font: 2em Budmo;
  border-bottom: 2px solid darken(gold, 10%);
  margin:2em;

}

.right .Game2:hover {
  background: lighten(#15706f, 5%);
  border-bottom: 5px solid darken(#15706f, 5%);
}

.right .Game2:active { border: none; }

.userInformationHead {

 margin-top: 30px;
 border :2px groove;
 background-color: #C5B358;
 border-radius: 2em;
  padding-left: 2em;
}

.userInformationBody {

 border :2px groove;
 background:linear-gradient(135deg, #008080 33%,#00CED1 95%);
 margin-bottom: 30px;
 height: 120px;
 border-radius: 2em;
 padding-left: 2em;
 font-size: 2em;
}

.whosOnlineHead {

 margin-top: 30px;
 border :2px groove;
 background-color: #ffec8b;
 border-radius: 2em;
  padding-left: 2em;
}

.whosOnlineBody {

 border :2px groove;
 background:linear-gradient(135deg, #008080 33%,#00CED1 95%);
 margin-bottom: 30px;
 height: 120px;
 border-radius: 2em;
  padding-left: 2em;
 font-size: 1em;
}


p.midground {
  background-color: #e1dddd;
  padding : 5em;
}

div.user {
  background-color: gray;
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 3em;
  float: left;
  border-top: solid .5em #ebecea;
  border-left: solid .3em #ebecea;
  border-bottom: solid .15em black;
  border-right: solid .1em black;
}



