body {
  background-size: 100% 1200px;
}
.left {
 width: 570px;
 height: 355px;
 background-color: #ebecea;
 float: left;
 visibility: hidden;
}

.left .userInformation {
 margin-top: 80px;
 padding-bottom: 80px;
}

.left .whosOnline {
 margin-top: 80px;
 margin-bottom: 70px;
}

.right {
 width: 570px;
 height: 355px;
 background-color: #ebecea;
 float: right;
 visibility: hidden;
}

.right .Game1 {
 margin-top: 40px;
}

.right .Game2 {
 margin-top: 80px;
 margin-bottom: 70px;
}

.userInformationHead {

 margin-top: 30px;
 border :2px groove;
 background-color: #ffec8b;
 border-radius: 2em;
}

.userInformationBody {

 border :2px groove;
 background-color: #5E9A5B;
 margin-bottom: 30px;
 height: 120px;
 border-radius: 2em;
}

.whosOnlineHead {

 margin-top: 30px;
 border :2px groove;
 background-color: #ffec8b;
 border-radius: 2em;
}

.whosOnlineBody {

 border :2px groove;
 background-color: #5E9A5B;
 margin-bottom: 30px;
 height: 120px;
 border-radius: 2em;
}


p.midground {
  background-color: #ebecea;
  padding : 5em;
}

div.user {
  background-color: gray;
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 3em;
  float: left;
  border-top: solid .5em #ebecea;
  border-left: solid .3em #ebecea;
  border-bottom: solid .15em black;
  border-right: solid .1em black;
}



