
$base-color:  #d2d2d2;


#navbar {

  background-color: white;
  height:7em;
  border: 2px round black;

}

.logo {
  width:10%;
  height:7em;
  float:right;
  -webkit-animation: anim 10s infinite linear;
    animation: anim 10s infinite linear;
}

#navbar .buttonNav {

height: 50px;
float: right;

}




@-webkit-keyframes anim {
    from {-webkit-transform: rotateY(0deg);}
    to {-webkit-transform: rotateY(360deg);}
}

@keyframes anim {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
}
